--------------------------------
**Author**: Gunnvant 

**Description**: Data prep before hf datasets can be used

---------------------------------

In [1]:
import pandas as pd
df = pd.read_csv("../ner.csv")

In [2]:
df.head(2)

,Sentence_ID,Word,POS,Tag
0,Sentence: 1,"['Thousands', 'of', 'demonstrators', 'have', '...","['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP'...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '..."
1,Sentence: 10,"['Iranian', 'officials', 'say', 'they', 'expec...","['JJ', 'NNS', 'VBP', 'PRP', 'VBP', 'TO', 'VB',...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '..."

In [3]:
import ast
def get_unique_tags(row):
    return set(ast.literal_eval(row))

df['Tag'].map(get_unique_tags)## we need to find what are the unique labels

0                             {B-gpe, B-geo, O}
1                      {B-gpe, B-tim, O, B-org}
2               {B-tim, O, I-geo, B-geo, B-org}
3                                           {O}
4        {I-per, B-tim, O, B-per, B-gpe, B-geo}
                          ...
47954                         {I-per, B-per, O}
47955           {I-org, B-tim, O, B-gpe, B-org}
47956                  {B-tim, I-tim, B-geo, O}
47957                                       {O}
47958           {I-org, B-tim, O, I-tim, B-org}
Name: Tag, Length: 47959, dtype: object

In [4]:
tags = set()
for t in df['Tag'].map(get_unique_tags):
    tags.update(t)

In [5]:
tags

{'B-art',
 'B-eve',
 'B-geo',
 'B-gpe',
 'B-nat',
 'B-org',
 'B-per',
 'B-tim',
 'I-art',
 'I-eve',
 'I-geo',
 'I-gpe',
 'I-nat',
 'I-org',
 'I-per',
 'I-tim',
 'O'}

In [6]:
tags = list(tags)
tags_dict = {}
for idx,item in enumerate(tags):
    tags_dict[item]=idx

In [7]:
def map_tags_to_idx(row):
    return [tags_dict[i] for i in ast.literal_eval(row)]
df['Tag'].map(map_tags_to_idx)

0        [11, 11, 11, 11, 11, 11, 7, 11, 11, 11, 11, 11...
1        [16, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...
2        [11, 11, 12, 11, 11, 11, 11, 11, 7, 11, 11, 11...
3             [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]
4        [7, 11, 11, 15, 13, 11, 12, 11, 7, 11, 16, 11,...
                               ...
47954    [11, 11, 11, 15, 13, 11, 11, 11, 11, 11, 11, 1...
47955    [11, 12, 11, 16, 11, 11, 11, 11, 11, 11, 11, 1...
47956    [11, 7, 11, 11, 12, 5, 11, 11, 11, 11, 11, 11,...
47957    [11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...
47958    [11, 8, 0, 11, 11, 11, 11, 11, 11, 11, 11, 11,...
Name: Tag, Length: 47959, dtype: object

In [8]:
df['ner_tags']=df['Tag'].map(map_tags_to_idx)

In [9]:
import json
with open("tag_mapping.json","w") as f:
    json.dump(tags_dict,f)

In [10]:
df.head()

,Sentence_ID,Word,POS,Tag,ner_tags
0,Sentence: 1,"['Thousands', 'of', 'demonstrators', 'have', '...","['NNS', 'IN', 'NNS', 'VBP', 'VBN', 'IN', 'NNP'...","['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', '...","[11, 11, 11, 11, 11, 11, 7, 11, 11, 11, 11, 11..."
1,Sentence: 10,"['Iranian', 'officials', 'say', 'they', 'expec...","['JJ', 'NNS', 'VBP', 'PRP', 'VBP', 'TO', 'VB',...","['B-gpe', 'O', 'O', 'O', 'O', 'O', 'O', 'O', '...","[16, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1..."
2,Sentence: 100,"['Helicopter', 'gunships', 'Saturday', 'pounde...","['NN', 'NNS', 'NNP', 'VBD', 'JJ', 'NNS', 'IN',...","['O', 'O', 'B-tim', 'O', 'O', 'O', 'O', 'O', '...","[11, 11, 12, 11, 11, 11, 11, 11, 7, 11, 11, 11..."
3,Sentence: 1000,"['They', 'left', 'after', 'a', 'tense', 'hour-...","['PRP', 'VBD', 'IN', 'DT', 'NN', 'JJ', 'NN', '...","['O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', 'O', ...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11]"
4,Sentence: 10000,"['U.N.', 'relief', 'coordinator', 'Jan', 'Egel...","['NNP', 'NN', 'NN', 'NNP', 'NNP', 'VBD', 'NNP'...","['B-geo', 'O', 'O', 'B-per', 'I-per', 'O', 'B-...","[7, 11, 11, 15, 13, 11, 12, 11, 7, 11, 16, 11,..."

In [11]:
df[['Word','ner_tags']].to_csv("../preprocessed.csv",index=False)